# Dependency directories
node_modules/

# Build output
build/
dist/
*.env

# IDE/Editor specific files
.vscode/
.idea/
*.iml
.DS_Store

# Logs
logs/
*.log

# Cache and test files
*.cache/
*.log
*.pid
*.seed
*.pid.lock
*.coverage
.nyc_output/
coverage/

# Miscellaneous
*.class
.env.local
.env.development.local
.env.test.local
.env.production.local